.dialog1 {
    position: fixed;
    top: 0%;
    left: 4%;
    border: 1px solid #888888;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px #000000;
    padding: 10px;
    display: none;
    z-index: 9999999;
    width: 96%;
    height: 100%;
}

.dialog2 {
    position: fixed;
    top: 0%;
    left: 4%;
    border: 1px solid #888888;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px #000000;
    padding: 10px;
    display: none;
    z-index: 9999999;
    width: 96%;
    height: 100%;
}

.dialog3 {
    position: fixed;
    top: 0%;
    left: 4%;
    border: 1px solid #888888;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px #000000;
    padding: 10px;
    display: none;
    z-index: 9999999;
    width: 96%;
    height: 100%;
}

.dialog4 {
    position: fixed;
    top: 0%;
    left: 4%;
    border: 1px solid #888888;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px #000000;
    padding: 10px;
    display: none;
    z-index: 9999999;
    width: 96%;
    height: 100%;
}

.dialog5 {
    position: fixed;
    top: 0%;
    left: 4%;
    border: 1px solid #888888;
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px #000000;
    padding: 10px;
    display: none;
    z-index: 9999999;
    width: 96%;
    height: 100%;
}

.hashtag1 {
    position:absolute;
    background-color: rgb(70, 77, 57);
    color: rgb(241, 241, 240);
    display: block;
    font-family: 微軟正黑體;
    font-weight: 500;
    font-size: 20px;
    border-color: rgb(70, 77, 57);
    padding: 3.9%;
    letter-spacing: 4px;
    border: 2px;
    display: none;
}

.hashtag2 {
    position: absolute;
    background-color: rgb(213, 107, 107);
    color: rgb(241, 241, 240);
    display: block;
    font-family: 微軟正黑體;
    font-weight: 500;
    font-size: 20px;
    border-color: rgb(213, 107, 107);
    padding: 3.9%;
    letter-spacing: 4px;
    border: 2px;
    display: none;
}

.hashtag3 {
    position: absolute;
    background-color: rgb(166, 148, 98);
    color: rgb(241, 241, 240);
    display: block;
    font-family: 微軟正黑體;
    font-weight: 500;
    font-size: 20px;
    border-color: rgb(166, 148, 98);
    padding: 3.9%;
    letter-spacing: 4px;
    border: 2px;
    display: none;
}

.hashtag4 {
    position: absolute;
    background-color: rgb(165, 129, 105);
    color: rgb(241, 241, 240);
    display: block;
    font-family: 微軟正黑體;
    font-weight: 500;
    font-size: 20px;
    border-color: rgb(165, 129, 105);
    padding: 3.9%;
    letter-spacing: 4px;
    border: 2px;
    display: none;
}

.hashtag5 {
    position: absolute;
    background-color: rgb(44, 146, 63);
    color: rgb(241, 241, 240);
    display: block;
    font-family: 微軟正黑體;
    font-weight: 500;
    font-size: 20px;
    border-color: rgb(44, 146, 63);
    padding: 3.9%;
    letter-spacing: 4px;
    border: 2px;
    display: none;
}

.toNone {
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
}

.menu {
    position: fixed;
    transform: translateX(-100%);
    transition: 0.5s;
    background-color: #000000;
    height: 50px;
    width: auto;
    position: absolute;
    top: 0;
    left: -5%;
    z-index: 99999;
}

li {
    float: left;
}

.menu li a {
    float: left;
    display: block;
    padding: 15px;
    margin: 0px 20px 10px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    /* border-bottom: 3px solid #ffffff; */
    z-index: 99999;
}

.hamburger {
    background-color: #000000;
    width: 4%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    cursor: pointer;
    z-index: 999999999999;
}

.hamburger-line {
    width: 50%;
    height: 3px;
    background-color: #ffffff;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 10px 0px #ffffff, 0px -10px 0px #ffffff;
}

#menu-switcher:checked~.menu {
    transform: translateX(5%);
}

#menu-switcher {
    display: none;
}